/*============================================================================
  #Override Stylesheet
  #Add Custom Styles Here
==============================================================================*/
html, body, p {
  font-size: 14px!important;
}
a {
  text-decoration: none;
}
hr {
  color: #f1c40f;
  height: 2px;
  opacity: 1;
}
.header {
  padding: 0;
  .navbar-collapse{
    flex-grow: unset;
  }
  .user {
    position: relative;
  }
  .user__avatar{
    margin: 1rem;
  }
  .navbar-nav {
    margin: 0;
  }
  /*ハンバーガーメニューの外枠削除*/
  .navbar-toggler {
    border-color: transparent!important;
  }
  .nav-link {
    color:#316745!important;
  }
  .user-drop-bgcolor{
    background-color: #ecf0f1;
    border:0;
  }
  .dropdown-item{
    color:#316745;
    font-size:14px;
    line-height: 1.5rem;
  }
  .navbar-toggler {
    padding:0;
  }
}

/*--------------
footer
--------------*/
.footer--center{
  text-align: left;
}
.user-footer-menu-container {
  display: flex;
  
  .footer__menu {
    margin-right: 12%;
  }
  .user-footer-menu-title{
    font-weight: bold;
    font-size: 1.2rem;
  }
  .footer__menu-item{
    display: block;
    text-decoration: none;
    margin: 0;
  }  
}
/*--------------
product top
--------------*/
.user-search-theme-container{
  background-color: #f3f3f3;
  padding: 2rem 0;
  margin: 40px 0;
}
.search-theme{
  padding: 8px 16px;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
 
  .search__icon {
    margin-right: 16px;
  }
  .section-title {
    margin: 0;
  }
}

.category-search {
  max-width: 1180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  .btn {
    margin: 12px 6px;
    min-width: 170px;
    background: white;
  }
  .btn-outline-success {
    color: #0a2948;
    border: #c7c7c7 1px solid;
    padding: 1rem;
  }
}
.slick-dots {
  text-align: center;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}
.slick-active button {
  background: #0a467d;
}
.user-slide-img {
  opacity: 0.7;
  margin: 0 16px;
}
.user-product-top-slider{
  .slick-current {
    transform: scale(1.2);
    transition: .5s;
    opacity: 1;
  }
}
.panel__body{
  padding: 0;
}
.user-product-body{
  .panel__body{
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(191, 186, 186, 0.6);
    padding: 1rem 0;
  }
  .btn--1655125767448{
    width: 200px;
  }
}
.syllabus_item_container {
  position: relative;
  width: 95%;
  display: flex;
  margin: auto;

  .syllabus__item__post {
    width: 200px;
    margin: auto 16px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;  
  }
  .slick-arrow {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  }
  .slick-arrow::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #a2a1a3;
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 60px;
    transform: rotate(45deg);
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next::before {
    left: 16px;
  }
  .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 16px;
  }
}
.media {
  display: flex;
  .media-left{
    .syllabus__img{
      width: 200px;
    }
  }
  .media-body{
    .syllabus__title {
      font-size: 14px;
    }
  }
}
.slick-slide {
  .media {
    display: block;
  }
}
/*--------------
categories
--------------*/
.card {
  margin-top: 0;

  .card-header {
    border-bottom: unset;
  }
  .card-img-top  {
    padding:1.25rem 0.25rem 0;
    margin: 0!important;
  }
}
/*--------------
Post
--------------*/
.track {
  padding: 10px 12px;
  display: flex;
  margin: 0;
  color: #fff;
  }
.track__thumb {
  width: 100px;
}
.next-btn-area{
  display: flex;
  justify-content: space-between;

  .media-left{
    padding-right: 10px;
  }
  .media-right{
    padding-left: 10px;
 }
}
.comment {
  .media {
    display: block;
  }
}
/*--------------
responsive
--------------*/
@media (max-width:767px) {
  /*--------------
  general
  --------------*/
  html, body, p {
    font-size: 12px!important;
  }
  .media {
    display: block;
    .media-left{
      .syllabus__img{
        width: 150px;
      }
    }
  }
  .header{
    .user-drop-bgcolor{
      background-color: unset;
    }
    .user__dropdown {
      text-align: left;
    }  
    .dropdown-item{
      border-bottom:solid 1px #e5e4e4;
      padding: 3px 8px;
      font-size:12px;
      line-height: 1.5rem;
    }
  }
  /*--------------
  product top
  --------------*/
  .category-search {
    justify-content: space-around;
    .btn {
      margin: 4px 6px;
      min-width: 140px;
      width: auto;
    }
  }
  .syllabus_item_container {
    .syllabus__item__post {
      width: 150px;
    }
  }
  /*--------------
  Post
  --------------*/
  .next-btn-area{
    display: flex;
    justify-content: space-between;
  }
  /*--------------
  categories
  --------------*/
  .card {
    .card-header {
      padding: 0;
    }
  }
  .card-body{
    padding: 0;
  }
  /*--------------
  footer
  --------------*/
  .user-footer-menu-container {
    flex-direction: column;

    .user-footer-menu-title{
      border-bottom: 1px solid #c7c7c7;
      line-height: 2.5rem;
    }
    .footer__menu {
      margin-right: 0;
      margin-bottom: 2rem;
    }
    .footer__menu-item{
      margin-left: 1rem;
    }
  }
}

